<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/headMeta.ejs %>
</head>
<body>
    <% include partials/header %>
    <div class="container-fluid">
        <div class="container">
            <p>
                Account
            </p>
            <br>
        </div>
    </div>
    <% include partials/footer %>
</body>
</html>


					
				
